<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>
</head>
<body>
  <%- include ('partials/nav.ejs')%>


    <div class="centering-wrapper">
      <div class="index-container">
        <div class="title">
          <h1>Upload and download files.</h1>
          <p class="description">Documents, files, music, images, you name it.</p>
        </div>
        <div class="get-started">
          <p>GET STARTED</p>
          <div class="enter">
            <a class="index-sign-up" href="/sign-up">Create account</a>
            <p>or</p>
            <a class="index-login" href="login">Log In</a>
          </div>
        </div>
      </div>
    </div>

</body>
</html>