:root {
  --accessBtnColor: rgb(73, 73, 213);
}

* {
  box-sizing: border-box;
}

body {
  margin: 20px auto 0px auto;
}

p, h1, h2, h3, a, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

button {
  border: none;
  border-radius: 5px;
  height: 35px;
  color: whitesmoke;
}

.title {
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
  gap: 10px;
  position: relative;
  padding: 0 20px;
  max-height: 10vh;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav li{
  list-style-type: none;
}

nav p, nav a{
  color: #000000;
  font-weight: 300;
}

.centering-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container, 
.signup-container {
  border: 1px solid black;
  border-radius: 2px;
  width: 450px;
  padding: 30px 70px;
  margin: 0 auto;
}
.login-container h1, 
.signup-container h1 {
  text-align: center;
}
.login-container form, 
.signup-container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.login-container label,
.signup-container label {
  margin-top: 10px;
}
.signup-container label > span {
  font-size: 0.7rem;
}
.login-container input,
.signup-container input {
  padding: 5px;
  font-family: inherit;
}
.login-container button,
.signup-container button {
  margin-top: 20px;
  font-family: inherit;
  padding: 5px;
  font-weight: bold;
  background-color: var(--accessBtnColor);
}
.login-container p {
  float: right;
  margin-top: 10px;
  font-size: 0.9rem;
}
.login-container a {
  color: blue;
  text-decoration: underline;
}

.library-container  {
  display: flex;
  flex-direction: row;
  height: 87vh;
}
.library-container .content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid black;
}
.library-container .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: none;
  border-left: 1px solid black;
  max-height: 100%;
  margin: 0;
  max-width: 200px;
  position: relative;
  padding: 20px;
  background-color: #f8f8f8;
  color: #000000;
}
.library-container .sidebar button {
  color: #000000;
}
.library-container .sidebar svg {
  width: 80px;
  height: 30px
}
.library-container .sidebar .logout {
  position: absolute;
  bottom: 0;
  transform:translateY(-50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.library-container .selected-folder {
    outline: 2px solid #007BFF;
    background-color: #e6f0ff;
}
.library-container .folder-link {
  text-decoration: none;
  color: inherit;
}
.folder-link:hover {
  background-color: #965656;
}
.library-container .folder-name {
  position: relative;
}
.library-container .folder-name span {
  position: absolute;
  left: 0;
  transform: translate(10px, 5px);
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 0.7rem;
}

.error {
  margin-top: 10px;
  margin-left: 10px;
}
.error li {
  color: red;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.success {
  color: green;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 10px;
}

.username {
  display: flex;
  gap: 2px;
  align-items: center;
}
.material-symbols-outlined {
  color: #252121;
}
.library-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.library-link p{
  display: flex;
  align-items: center;
}

.card {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 10px ;
  overflow: auto;
}
.card.category {
  display: flex;
  background-color: rgb(170, 180, 105);
  border-top: 1px solid black;
  border-radius: 5px 5px 0 0;
  font-weight: 550;
}
.card.category button {
  background: transparent;
  font-family: inherit;
  color: #000000;
  font-size: 1rem;
}
.card ul{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
}
.card li {
  list-style-type: none;
}
.card button {
  cursor: pointer;
  height: 25px;
}
.card svg {
  width: 20px;
}
.card .tools {
  display: flex;
}
.card .tools .delete-btn {
  margin-right: auto;
}

.folder-head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.folder-head a{
  font-size: 1.5rem;
}
.folder-head a:hover{
  color: #c9b647;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal-window {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.modal-window h2 {
  margin-top: 0;
  font-size: 1.2rem;
}
.modal-window input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  color: #000000;
}
.modal-actions button{
  color: #000000;
}

.no-files {
  margin: 10px;
  text-align: center;
}

.hidden {
  display: none;
}


@media (max-width: 878px) {
  .card ul {
    display: grid;
    grid-template-columns: minmax(150px, 2fr) minmax(80px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(60px, 0.5fr);
    gap: 10px;
    align-items: center;
  }

  .card li:first-child {
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px 5px;
  }
  .library-container .sidebar svg {
    width: 30px;
    height: 30px
  }
  .library-container .sidebar .logout {
    transform:translateY(-50px);
  }
}
